@import 'variables';

.Yearly-timeline {
  font-family: 'Poppins', sans-serif;
}

.Yearly-timeline .timeline {
  float: left;
  position: relative;
}

.Yearly-timeline .timeline-content {
  background-color: _palette(clr-surface-a10);
  text-align: center;
  min-height: 170px;
  padding: 30px 35px 35px;
  border: solid;
  border-color: var(--block-border-color);
  border-radius: 0.75rem;
  border-width: 0.5rem;
  display: block;
  position: relative;
  z-index: 1;
}

// .Yearly-timeline .timeline-content:before {
//   content: '';
//   background-color: $color-main-background;
//   position: absolute;
//   left: 17px;
//   right: 17px;
//   top: 17px;
//   bottom: 17px;
//   z-index: -1;
// }

.Yearly-timeline .timeline-content:hover {
  text-decoration: none;
}

.Yearly-timeline .timeline-icon {
  color: _palette(clr-primary-a0);
  font-size: 35px;
}

.Yearly-timeline .title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 8px;
  color: white;
}

.Yearly-timeline .description {
  color: white;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 18px;
  margin: 0;
}

.Yearly-timeline .timeline {
  width: 100%;
  padding-top: 1rem;
}

// .Yearly-timeline .timeline:before {
//   content: '';
//   height: 4rem;
//   border: 4px solid var(--block-border-color);
//   position: relative;
//   display: block;
//   width: 50%;
//   left: 25%;
//   bottom: -4px;
// }